<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367010383299-pd76c9lmoloe51gfnf09h9cj8t6q2llk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367010383299-pd76c9lmoloe51gfnf09h9cj8t6q2llk</string>
	<key>API_KEY</key>
	<string>AIzaSyD_3wj7Ri7JiAVJ99fsloHXgVV8K0YhUnE</string>
	<key>GCM_SENDER_ID</key>
	<string>367010383299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rishav.instaclone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-6acc6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-6acc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367010383299:ios:ed6f4952c09e19ec1c2976</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-6acc6.firebaseio.com</string>
</dict>
</plist>